# --------------------------------------------------------------------
# Python
# --------------------------------------------------------------------
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / Packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# --------------------------------------------------------------------
# Virtual Environments
# --------------------------------------------------------------------
venv/
env/
ENV/
.env/
.venv/

# --------------------------------------------------------------------
# Environment Variables
# --------------------------------------------------------------------
.env
.env.*

# --------------------------------------------------------------------
# Unit Test / Coverage (Pytest)
# --------------------------------------------------------------------
.pytest_cache/
.coverage
.coverage.*
htmlcov/
coverage.xml
*.cover
*.log

# --------------------------------------------------------------------
# Database / Alembic
# --------------------------------------------------------------------
*.sqlite3
*.db
*/__pycache__/
alembic.ini

# --------------------------------------------------------------------
# IDE / Editor Settings
# --------------------------------------------------------------------
# PyCharm (JetBrains)
.idea/
.venv/